<!DOCTYPE html>
<html lang="zh-TW" data-theme="Dark">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 NOT FOUND</title>
    <link rel="stylesheet" href="{{url_for('static',filename='./css/main.css')}}">
  </head>
  <body>
    {% include "header.html" %}
    <div class="flex justify-center items-center" style="height:90vh">
      <div>
        <div class="text-6xl text-center">404 NOT FOUND._.</div>
        <br/>
        <progress class="progress w-100"></progress>
      </div>
    </div>
  </body>
</html>