<!DOCTYPE html>
<html lang="zh-TW" data-theme="Dark">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="{{url_for('static',filename='./css/main.css')}}">
  </head>
  <body>
    {% include "header.html" %}
    <div class="flex justify-center items-center" style="height: 90vh;">
      <div>
        <div class="radial-progress text-6xl" style="--value:{{ sensor }}; --size:10rem;">{{ sensor }}</div>
      </div>
  </body>
</html>