<!DOCTYPE html>
<html lang="zh-TW" data-theme="Dark">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='./css/main.css')}}">
  </head>
  <body>
    {% include "header.html" %}
    <div class="flex justify-center items-center" style="height:90vh">
        <div class="card glass" style="width:80vh">
            <div class="card-body text-center items-center text-2xl">
                <div class="text-4xl">Welcome!</div>
                <input type="text" placeholder="帳號 account" class="input input-bordered w-full max-w-xs" />
                <input type="password" placeholder="密碼 password" class="input input-bordered w-full max-w-xs" />
                <button class="btn">登入 login</button>
            </div>
        </div>
    </div>
  </body>
</html>